* {
  margin:0;
  padding:0;
}
nav {
  display:flex;
  background-color: thistle;
  justify-content:space-evenly ;
  padding:2% 0%;
  height:3vh;
  align-items:center;
}
nav img {
  margin-left:5px;
  padding-bottom:8px
}
.search-field {
  height: 5px;
  width:500px;
  padding:10px;
  border:none;
  border-radius:20px;
  outline:none;
}
li {
  color:black;
}
nav-link ul a::after {
  text-decoration:none;
}
.nav-link ul div img {
  margin-right:1px;
}
.nav-link ul li {
  display:inline-block;
  text-decoration:none;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
.cls1 {
  display:flex;
  padding-left:130px;
}
.cls1 figcaption {
  padding-left:220px;
}
.cls1 img {
  width:100px;
  height:100px;
  border:none;
  border-radius:50%;
  padding-left:200px;
  justify-content:space-evenly;
}
.cls1 figcaption a {
  text-decoration:transparent;
  color:black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
div marquee {
  background-color: plum;
  padding-left:2px;
  padding-right:2px;
}
div marquee h1 {
  font-family:cursive;
}
div marquee img {
  /*padding-top:2%;
  padding-bottom:2%;*/
  width:min-content;
  height:35vh;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.field ul li {
  display:inline-flex;
  width:fit-content;
  justify-content:space-evenly;
}
.field ul a li {
  display:inline-flex;
  padding-left:4%;
  padding-right:4%;
  text-decoration:transparent;
}
.field ul li a {
  position:absolute;
  text-decoration: none;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  background-color: rgb(125, 130, 168);
  height:25vh;
  display:flex;
}
.footer ul li {
  list-style: none;
  display:inline-block;
  padding:8px 10px;
  position:relative;
  color:cornsilk;
}
.footer ul li a {
  text-align: center;
  color:cornsilk;
  text-decoration: transparent;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
